<h1>Editing  Article</h1>

<% if @article.errors.any? %>
  <h3>This erros ocurred:</h3>
  <ul>
  <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  <% end %>
<% end %>
</ul>

<%= render 'form' %>

<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete this article?" } %>
<%= link_to 'All Articles', articles_path %>