<h1>Create a new Article</h1>

<% if @article.errors.any? %>
  <h3>This erros ocurred:</h3>
  <ul>
  <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  <% end %>
<% end %>
</ul>

<%= render 'form' %>